{% extends "admin/base.html" %}

{% block content %}
<div style='color: red; font-size: 150%;'>
  {{ statusmsg }}
</div>
<div style='color: red;'>
  <ul>
    {% for statmsg in statusmessages %}
    <li style="list-style-type: none;">{{ statmsg }}</li>
    {% endfor %}
  </ul>
</div>
<div>
  <form method="get" action="{% url 'main' %}">
    {% csrf_token %}
    <input type="submit" value="Back to main page" />
  </form>
</div>
<div>
  <form method="get" action="{% url 'admin:index' %}">
    {% csrf_token %}
    <input type="submit" value="Go to Admin screens to edit members data" />
  </form>
</div>
{% endblock %}
