{% extends "admin/base.html" %}

{% block content %}
<div style='color: red;'>{{ statusmsg }}</div>
<div>
  <ul>
    <li style='list-style-type: none;'>
      <div>To get a nice PDF report of the voting members:</div>
      <a href="{% url 'report_voters' %}" style='font-size:200%;'>Report: voters in the next General Assembly</a>
    </li>
<!--
    <li style='list-style-type: none;'>
      <a href="{% url 'report_pay_reminders' %}" style='font-size:200%;'>Report: whom to remind to pay membership fee</a>
    </li>
-->
    <li style='list-style-type: none;'>
      <div>
	Django Admin module was configured to allow you to view, query and edit members' and friends' information.<br />
	You can even see histories of edits of people's information.
      </div>
      <a href="{% url 'admin:members_person_changelist' %}" style='font-size:200%;'>View and edit members' data</a>
    </li>
    <li style='list-style-type: none;'>
      <div>
	If you need to configure staff and set permissions:
      </div>
      <a href="{% url 'admin:index' %}" style='font-size:200%;'>General Admin screens</a>
    </li>
  </ul>
</div>


<h2>The following are for one-time use only.</h2>

<div>
  <form method="post" action="{% url 'db_csv_import' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="csvupload">Select CSV file to upload</label>
    <input type="file" id="csvupload" name="csvfile" accept=".csv" />
    <input type="submit" value="Upload" style="background-color: #e0e0ff; color: #000000; font-size: 200%;" />
  </form>
</div>
<div>
  <form method="get" action="{% url 'db_csv_export' %}">
    {% csrf_token %}
    <input type="submit" value="Download exported members CSV file" style="background-color: #e0e0ff; color: #000000; font-size:200%;" />
  </form>
</div>


{% endblock %}
